---
import { getCollection } from 'astro:content';
import PostListItem from './PostListItem.astro';

interface Props {
	tag: string;
}

const { tag } = Astro.props;
const posts = (await getCollection('blog', ({ data }) =>
	data.published && data.tags.includes(tag),
)).sort(
	(a, b) => (b.data.publish_date?.valueOf() ?? 0) - (a.data.publish_date?.valueOf() ?? 0),
);
---
{posts.length === 0 ? (
	<p class="text-gray-500 dark:text-gray-400">No posts yet.</p>
) : (
	<ul role="list" class="-mb-8 w-full md:max-w-3xl">
		{posts.map((post) => (
			<PostListItem
				slug={post.id}
				title={post.data.title}
				description={post.data.description}
				publish_date={post.data.publish_date}
				published={post.data.published}
			/>
		))}
	</ul>
)}
